{{ .Test.Name }} ({{ .Test.ID }})
{{- if .Test.Description }}
  description: {{ .Test.Description }}
{{- end }}
  bucket: {{ .Bucket.Name }} ({{ .Bucket.Key }})
  created: {{ .Test.CreatedAt | intToRFC3339 }} by {{ .Test.CreatedBy.Name }} ({{ .Test.CreatedBy.Email }})
  trigger: {{ .Test.TriggerURL }}
  lastrun: {{ .Test.LastRun.FinishedAt | floatToRFC3339 }} ({{ .Test.LastRun.ErrorCount  }} errors)
{{- if .Test.Schedules }}
  schedules: {{ range $i, $s := .Test.Schedules }}{{ $s.Interval }}{{ end }}
{{- end -}}
{{- if .Test.Steps }}
{{- block "steps" .Test.Steps }}
  steps:{{ range $i, $s := . }}
    {{ if eq $s.StepType "request" }}
      {{ $i | printf "%d." }} {{ $s.Method }} {{ $s.URL }}
      {{ if $s.Note }}
            note: {{ $s.Note }}
      {{ end }}
      {{ if $s.Assertions }}
            assertions:{{ range $n, $a := $s.Assertions }}
              {{ $a.Source }}{{ if $a.Property }}{{ printf ".%s" $a.Property }} {{ $a.Comparison }} {{ $a.Value }}
            {{ end }}
      {{ end }}
    {{ end }}
    {{ end }}
{{- end }}
{{- end }}
{{- end -}}
